@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, 
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

header {
    height: 100px;
    border-bottom: 1px solid #dedfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header .container img {
    width: 50px;
    height: 50px;
}

header .container h1 {
    font-size: 24px;
    color: #00703c;
}

footer {
    height: 100px;
    padding: 24px;
    border-top: 1px solid #dedfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STYLES FOR LOGIN PANE */
.login-pane {
    width: 480px;
    height: 480px;
    padding: 60px;
    margin: 100px 0;
    border: 1px solid #dedfdf;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(222, 223, 223, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login-pane h2 {
    font-size: 20px;
}

.login-pane p {
    font-size: 14px;
}

footer p a {
    font-size: 14px;
    text-decoration: none;
}