@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/galliard-bt');

*, 
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    padding: 3.5vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 1.5vh;
}

.student-login .content {
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/computer-lab.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

header {
    background-color: #00703c;
    height: 10.5vh;
    /* border-bottom: 1px solid #dedfdf; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header .container img {
    width: 60px;
    height: 60px;
}

header .container h1 {
    font-size: 2.25rem;
    font-weight: 700;
    font-stretch: 90%;
    font-family: "Galliard BT", sans-serif;
    color: white;
}

footer {
    background-color: #3b3b3b;
    height: 10.5vh;
    padding: 24px;
    /* border-top: 1px solid #dedfdf; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* STYLES FOR STUDENT LOGIN PAGE/INDEX */
.login-pane {
    width: 480px;
    height: 320px;
    padding: 60px;
    margin: 100px 0;
    border: 1px solid #dedfdf;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(222, 223, 223, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
}

.login-pane h2 {
    font-size: 1.25rem;
}

.login-pane p {
    font-size: 0.875rem;
}

.technician-login a {
    color: #D3D3D3;
    font-size: 0.875rem;
    text-decoration: none;
}


/* STYLES FOR STUDENT PROFILE PAGE */
.logout-btn {
    text-decoration: none;
    font-weight: 450;
    color: white;
    padding: 0.35vw 0.5vw;
    background-color: #003d21;
    border: 1px solid #dedfdf;
    border-radius: 8px;
    align-self: flex-end;
}

.student-profile .content h2 {
    font-size: 2rem;
    color: #003d21;
}

.profile {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
    margin-bottom: 6vh;
    /* width: 960px;
    height: 320px; */
}

.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.profile-pic img {
    width: 10vw;
    height: 10vw;
}

.profile-pic label {
    font-weight: 450;
    color: white;
    padding: 0.35vw 0.5vw;
    background-color: #00703c;
    border: 1px solid #dedfdf;
    border-radius: 8px;
    cursor: pointer;
}

.profile-pic input {
    display: none;
}

.details {
    /* width: 33.33vw; */
    /* height: 250px; */
    border: 1px solid #dedfdf;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(222, 223, 223, 0.35);
    background-color: white;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}

.details h3 {
    font-size: 1.25rem;
    color: #00703c;
    margin-bottom: -0.75vh;
}

.details label {
    font-weight: 450;
}

.personal-info,
.student-info {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.personal-info input {
    width: 10vw;
}

.name {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.name .container,
.email,
.contact,
.id-number,
.college {
    display: flex;
    flex-direction: column;
}

.name .container input {
    width: 7.5vw;
}

.reservation-preview {
    border: 1px solid #dedfdf;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(222, 223, 223, 0.35);
    background-color: white;
    padding: 1.5vw;
}

.reservation-preview table {
    table-layout: fixed;
    border-collapse: collapse;
}

.reservation-preview th,
.reservation-preview td {
    text-align: center;
    border: 1px solid black;
    padding: 1vh;
}

.reservation-preview th {
    color: #00703c;
    width: 8vw;
}

.table-timeslots {
    width: 5vw;
}